<div ng-controller="AuthLoginController as al">
  <div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>

          <div class="col-sm-4">
            <div class="pen-title">
              <h1>MyTodoList</h1>
            </div>

            <div class="module form-module">
              <div class="toggle">
                <button>
                  <center>
                    <a ui-sref="sign-up" style="color:white; font-style:italic; font-weight:bold; font-size:20px; text-decoration:none; float:right;">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </center>
                </button>
              </div>
              <div class="form">
                <h2>Login to your account</h2>
                <form ng-submit="login()">
                  <input name="email" ng-model="user.email" type="email" class="form-control" placeholder="Email" required />
                  <input name="password" type="password" class="form-control" ng-model="user.password" placeholder="Password" required/>
                  <button type="submit" class="btn btn-success">Login</i>
                  </button>
                  <br />
                  <br />

                </form>
              </div>
            </div>
            <br />
            <div class="alert alert-danger alert-dismissable" ng-if='err!=undefined'>

              <button type="button" class="close" data-dismiss="alert" aria-hidden='true'>&times;</button>
              Invalid Information
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div ui-view></div>
      <div>
      </div>
    </div>
  </div>